.single-course{
    margin: 10px 5px;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}
.course-details{
    width:100%;
}
.course-img{
    box-shadow: 1px 1px 2px 1px rgba(199, 199, 224, 0.205);
    border-radius: 3px;
}